/* Home */
#home {
	height: 100vh;
	background-image: url('../background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.home-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100vw;
}

.home-title h1 {
	font-size: 5rem;
	text-align: center;
}

.home-title p {
	font-size: 1.35rem;
}

.blinking-text {
	animation: blinking-text 1s infinite;
}

.home-title-lg {
	display: block;
}

.home-title-md,
.home-title-sm {
	display: none;
}

@media (max-width: 700px) {
	.home-title-lg {
		display: none;
	}

	.home-title-md {
		display: block;
	}

	.home-title-sm {
		display: none;
	}
}


@media (max-width: 600px) {
	.home-title-lg {
		display: none;
	}

	.home-title-md {
		display: none;
	}

	.home-title-sm {
		display: block;
	}
}

@keyframes blinking-text {
	0% {
		opacity: 1;
	}

	40% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}