.markdown * {
  letter-spacing: 0.025rem;
  text-size-adjust: 200%;
}

.markdown h1 {
  border-bottom: 2px solid rgba(195, 195, 195, 0.7);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
  text-size-adjust: 350%;
}

.markdown h2 {
  font-size: 1.65rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #E3B252;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid rgba(195, 195, 195, 0.7);
  text-size-adjust: 300%;
}

.markdown strong {
  font-weight: 500;
  font-size: 1.25rem;
  opacity: 1 !important;
  color: #f8f8f8;
}

.markdown ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 2rem;
}

.overlay-dark {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(12, 12, 12, 0.8);
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-inline: 8vw;

  z-index: 50;

  animation: fade-in 0.25s normal ease;
}

.markdown img {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

.markdown p {
  color: rgb(181, 181, 181);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 100;
  font-size: 1.2rem;
}

.markdown li {
  color: rgb(181, 181, 181);
  font-size: 1.2rem;
  font-weight: 100;
}

.markdown a {
  color: var(--color-light);
}

.markdown a:hover {
  color: var(--color-alt);
}

.md-icon-button {
  position: fixed;
  top: 2rem;
  right: 2rem;

  border-radius: 50%;
  border: none;

  background-color: rgb(25, 25, 25);

  padding: 0.5rem;

  cursor: pointer;
  z-index: 999;

  user-select: none;
}

.mid-icon-button:hover {
  color: var(--color-alt);
}