.about {
    padding-top: 5vh;
    padding-inline: 8vw;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    background-color: #121212;
    /* overflow: hidden !important; */
    /* max-width: 1100px; */
    justify-content: center;
    align-items: center;

    margin: 0;
}


.about h1 {
    padding-top: 2.5vh;
    padding-bottom: 3.5vh;
    font-size: 2.5rem;
    text-align: center;
    overflow: hidden !important;
}

.about p {
    font-size: 1.25rem;
}

.about-color-dark {
    color:rgb(169, 169, 169);
}

.about-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(25, 25, 25);
    padding: 2rem;
    border-radius: 10px;
    max-width: 1100px;
}

.about-text {
    display: flex;
    flex-direction: column;
}

.about-text h1 {
    align-self: star;
}

.about-text-title {
    font-size: 3rem;
}

.about-links {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.resume {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 10vh;
    align-content: center;
    justify-content: center;
}

.about-profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-profile-pic img {
    height: min(25vw, 350px);
    width: min(25vw, 350px);
    border-radius: 50%;
    /* border: 0.5rem solid slateblue; */
    filter: drop-shadow(0 0px 5px #e1e1e1);
}

@media (max-width: 60rem) {
    .about-profile-pic {
        display: none;
    }
}