.experience {
  /* padding: 8vw; */
  /* padding-top: 5vh; */
  padding-inline: 8vw;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  background-color: #121212;
}

.experience h1 {
  /* padding-top: 2.5vh; */
  padding-bottom: 2.5vh;
  font-size: 2.5rem;
  text-align: center;
}

.exp-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  max-width: 1100px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-inline: 5px;

  transition: all 0.25s;
  
  background-color: rgb(25, 25, 25);
}

.exp-description {
  display: flex;
  flex-direction: row;  
}

.exp-title-separator {
  font-size: 1.25rem;
  color: rgb(131, 131, 131);
}

.exp-vertical-line {
  width: 0.2rem;
  background-color: rgb(103, 103, 103);
  margin-inline: 1rem;
}

.exp-p-tag {
  color:rgb(103, 103, 103);
}

.exp-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  cursor: default;  
}

.exp-link {
  padding-bottom: 10px;
}

.exp-link a {
  text-decoration: none;
}

.exp-link a:hover {
  text-decoration: underline;
}

.exp-links {
  margin: 15px 0px;
}

.exp-links ul {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.exp-card:hover {
  background-color: rgb(25, 25, 25);
  transform: scale(101%);
  /* transform: translateY(-10px); */
}

.exp-card h2 {
  padding-bottom: 5px;
}

.exp-date {
  padding-top: 5px;
  color:rgb(179, 179, 179);
  max-width: 300px;
  display: block;
}

.exp-date-sm {
  color:rgb(179, 179, 179);
  padding: 2px;
  display: none;
}

.exp-info {
  width: 90%;
  flex-direction: column;
}

.exp-card li {
  list-style: none;
}

.exp-tags {
  margin-top: 10px;
}

.exp-tags ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.exp-tags li {
  list-style: none;
  background-color: rgba(246, 163, 37, 0.5);
  color: rgb(255, 235, 81);
  border-radius: 5px;
  padding: 8px 8px;
  font-size: 0.9rem;
}

.exp-description-container {
  font-weight: 50;
  letter-spacing: 0.05rem;
  color: rgb(199, 199, 199);
  padding-top: 5px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.exp-hidden {
  opacity: 0.5;
}

@media only screen and (max-width < 700px) {
  .exp-description p {
    font-size: 0.75em;
  }
}
