@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans';
  scroll-behavior: smooth;
  color-scheme: dark;
  font-weight: 300;
  /* overflow-x: hidden; */
  /* cursor: none !important; */
}

body {
  background-color: #1C1C1C;
}

.the-rest {
  width: 99%;
}

.main-container {
  width: 100vw;
  overflow: hidden;
}

.container {
  padding: 50px;
  overflow: hidden;
}

.car {
  width: 50vw;
  border-radius: 50vh;
}

.yep {
  position: fixed;
  top: 50vh;
  left: 10vw;
}


:root,
.bg-default {
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #171717; */
}

.color-light {
  color: #e1e1e1;
}

.bg-color-light {
  color: #e1e1e1;
}

.bg-color-alt {
  background-color: #EB920C;
}

.color-alt-brighter {
  background-color: #ff9901;
}

.color-dark {
  color: #4c4c4cdd;
}

.color-alt,
.color-alt-hover:hover {
  /* color: #EB920C; */
  color: #E3B252;
}

.no-select {
  pointer-events: none;
}

.color-alt-gradient {
  /* background: -webkit-linear-gradient(left, red , yellow);
  background: -o-linear-gradient(right, red, yellow);
  background: -moz-linear-gradient(right, red, yellow); */
  background: linear-gradient(to right, #FBE17F , #CBB043); 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent
}

.home {
  /* background-image: url('../anirudh-EFQg9MocIIY-unsplash.jpg'); */
  background-image: url('../background.png');
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

/* Credits */
.credits {
  text-align: left;
  position: absolute;
  top: 3vh;
  left: 1.5vw;
}

.credits-link {
  text-decoration: none;
}

.nav-link:hover {
  color: #EB920C;
}

@keyframes move {
  0% {
    transform: translateX(-5px)
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(-5px)
  }
}


/* Socials */
.socials {
  position: fixed;
  top: 48vh;
  left: 5px;

  /* bottom: 25px; */
  /* left: 25px; */

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /* background-color: rgba(25, 25, 25, 0.6); */
  border-radius: 15px;
  
	transform: translateY(-50%);
}

.socials img {
  width: 25px;
  height: 25px;
  margin: 5px 12px;
  z-index: 5;
  transition: filter 0.2s;
}

.socials img:hover {
  filter: drop-shadow(0 0px 5px white);
}

#weather {
  position: absolute;
  top: 5vh;
  right: 70vw;
}

.overlay {
  z-index: 9999
}