.navbar {
  display: flex;
  flex-direction: row;
  user-select: none;
  font-size: 20px;
  /* padding: 4vh 4vw; */
  justify-content: center;
  align-items: center;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.nav-link {
  text-decoration: none;
  transition: all 250ms;
  /* font-weight: 700; */
  /* letter-spacing: 0.075vw; */
}

.nav-item {
  list-style-type: none;
  list-style: none;
  font-weight: 900;
}

.nav-link:hover {
  /* color: #EB920C; */
  color: #E3B252;
}

.nav-numbered-list {
  display: flex;
  flex-direction: column;
}

.nav-text-above {
  font-size: 65%;
  float: right;
  text-align: right;
  opacity: 75%;
}

.nav-sticky {
  padding: 1.5vh 4vw;

  position: fixed;
  top: 0;
  width: 100vw;

  background-color: rgba(23, 23, 23, 0.5);
  /* margin-top: -15px; */

  animation: slidein 0.3s ease;
  backdrop-filter: blur(5px);

  z-index: 5;
}

.nav-static {
  padding: 4vh 4vw;
  width: 100vw;
  top: 0;
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}