.projects {
  margin: 0;
  padding-top: 10vh;
  padding-inline: 8vw;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  background-color: #121212;
  justify-content: center;
  align-items: center;

  /* width: 100vw; */
}

.projects h1 {
  padding-bottom: 2vh;
  font-size: 2.5rem;
  text-align: center;
}


.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  gap: 15px;
  grid-auto-flow: row;
  max-width: 1100px;
}

.project-card-date {
  color:rgb(179, 179, 179);
  font-size: 0.9rem;
}

.project-card {
  background-color: rgb(25, 25, 25);
  padding: 6%;
  border-radius: 5px;
  cursor: default;
  display: flex;
  flex-direction: column;

  transition: transform 0.25s;
}

.project-card-links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.project-card h3 {
  font-size: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

.project-card:hover h3 {
  color: #E3B252;
}

.project-card p {
  color:rgb(174, 174, 174);
  font-size: 1rem;
}

.project-card li {
  list-style-type: none;
}

.project-card-header {
  margin-bottom: 5px;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project-card-icon {
  font-size: 2.5rem;
}

.project-card:hover {
  transform: translateY(-0.3rem);
}

.project-tech-tags {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 5px;
}

.project-card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-color-dark {
  color: #787878dd;
  margin-top: 2px;
  margin-bottom: 2px;
}

@media (max-width: 70rem) {
  .project-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 50rem) {
  .project-cards {
    grid-template-columns: 1fr;
  }
  
  .project-card-header {
    margin-top: -15px;
  }

  .project-card {
    padding: 5%;
  }
}

/* Markdown Preview Styles */

.markdown {
  padding: 2rem;
  max-width: 1100px;
  background-color: rgb(25, 25, 25);
  border-radius: 5px;
  text-align: left;

  display: flex;
  flex-direction: column;

  max-height: 85vh;
  overflow-y: auto;

  animation: slide-in 0.5s normal ease;
  /* animation-fill-mode: forwards; */
}

.slide-out {
  animation: slide-out 0.5s normal ease;
}

.md-icon-button {
  position: fixed;
  top: 2rem;
  right: 2rem;

  border-radius: 50%;
  border: none;

  background-color: rgb(25, 25, 25);

  padding: 0.5rem;

  cursor: pointer;
}

.md-icon-button:hover {
  color: #E3B252;/*rgba(195, 195, 195, 0.7)*/
}


.markdown h1 {
  border-bottom: 2px solid rgba(195, 195, 195, 0.7);
  margin-bottom: 2rem;
}

.markdown h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #E3B252;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid rgba(195, 195, 195, 0.7); 
}

.markdown strong {
  font-weight: 800;
  font-size: 1.1rem;
  opacity: 1 !important;
  color: #e1e1e1;
}

.markdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 2rem;
}

.overlay-dark {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(12,12,12,0.8);
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-inline: 8vw;

  z-index: 50;

  animation: fade-in 0.25s normal ease;
}

.markdown img {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

.markdown p {
  color:rgb(195, 195, 195);
}

.readme-loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0%);
  }
  
  to {
    transform: translateX(125%);
  }
}

@keyframes fade-in {
  from {
    background-color: rgba(12,12,12,0);
  }
  to {
    background-color: rgba(12,12,12,0.8);
  }
}